@model doAnGiay.Models.Product
@{
    ViewBag.Title = "Create";

}

<h2>Create Product</h2>
@using (Html.BeginForm("create", "product", "admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-6">
            @Html.LabelFor(row => row.ProductName)
            @Html.TextBoxFor(row => row.ProductName, new { @class = "form-control", placeholder = "Ten giay.." })

            @Html.LabelFor(row => row.Price)
            @Html.TextBoxFor(row => row.Price, new { @class = "form-control", placeholder = "Gia giay.." })
        </div>
        <div class="col-md-6">
            @Html.LabelFor(row => row.DateOfPuchase)
            @Html.TextBoxFor(row => row.DateOfPuchase, new { @class = "form-control", placeholder = "ngay nhap giay.." })

            @Html.LabelFor(row => row.AvailabilityStatus)
            @Html.TextBoxFor(row => row.AvailabilityStatus, new { @class = "form-control", placeholder = "trang thai giay.." })
        </div>
        <div class="col-md-6">
            @Html.LabelFor(row => row.Active)
            @Html.TextBoxFor(row => row.Active, new { @class = "form-control", placeholder = "giay.." })

            @Html.LabelFor(row => row.Size)
            @Html.TextBoxFor(row => row.Size, new { @class = "form-control", placeholder = "Size giay.." })
        </div>
        <div class="col-md-6">
            @Html.LabelFor(row => row.CategoryId)
            @Html.TextBoxFor(row => row.CategoryId, new { @class = "form-control", placeholder = "Nhâp: 1 loại thấp cổ, 2 loại cao cổ" })

            @Html.LabelFor(row => row.BrandID)
            @Html.TextBoxFor(row => row.BrandID, new { @class = "form-control", placeholder = "Nhập: 1 là Nike, 2 là: MLB, 3 là: Adidas " })
        </div>
        <div class="col-md-6">
            @Html.LabelFor(row=>row.Gender)
            @Html.TextBoxFor(row => row.Gender, new {@class="from-control",Placeholder="Nhập giới tính" })

            @Html.LabelFor(row => row.ImageUrl)
            @Html.TextBox("imgFile", "", new { type = "file" })
        </div>


    </div>
    <button type="submit" class="btn btn-primary m-4">Create</button>
}

@*<form action="/Admin/Product/Create" method="post" enctype="multipart/form-data">
        <div class="row m-4">
            <div class="col-md-6">
                <label for="ProductName">Product Name</label>
                <input type="text"
                       class="form-control"
                       id="ProductName"
                       name="ProductName"
                       placeholder="Product Name" />
            </div>
            <div class="col-md-6">
                <label for="Price">Price</label>
                <input type="text"
                       class="form-control"
                       id="Price"
                       name="Price"
                       placeholder="Price" />
            </div>

        </div>
        <div class="row m-4">
            <div class="col-md-6">
                <label for="DateOfPuchase">Date Of Puchase</label>
                <input type="date"
                       class="form-control"
                       id="DateOfPuchase"
                       name="DateOfPuchase"
                       placeholder="Date Of Puchase" />
            </div>
            <div class="col-md-6 ">
                <label for="AvailabilityStatus">Availability Status</label>
                <input type="text"
                       class="form-control"
                       id="AvailabilityStatus"
                       name="AvailabilityStatus"
                       placeholder="Availability Status" />
            </div>

        </div>
        <div class="row m-4">
            <div class="col-md-6">
                <label for="Active">Active</label>
                <input type="text"
                       class="form-control"
                       id="Active"
                       name="Active"
                       placeholder="Active" />
            </div>
            <div class="col-md-6 ">
                <label for="Size">Size</label>
                <input type="text"
                       class="form-control"
                       id="Size"
                       name="Size"
                       placeholder="Size" />
            </div>

        </div>
        <div class="row m-4">
            <div class="col-md-6">
                <label for="CategoryId">CategoryId</label>
                <input type="text"
                       class="form-control"
                       id="CategoryId"
                       name="CategoryId"
                       placeholder="Nhâp: 1 loại thấp cổ, 2 loại cao cổ" />
            </div>
            <div class="col-md-6 ">
                <label for="BrandID">BrandID</label>
                <input type="text"
                       class="form-control"
                       id="BrandID"
                       name="BrandID"
                       placeholder="Nhập: 1 là Nike, 2 là: MLB, 3 là: Adidas " />
            </div>

        </div>
        <div class="row m-4">
            <div class="col-md-6">
                <label for="Gender">Gender</label>
                <input type="text"
                       class="form-control"
                       id="Gender"
                       name="Gender"
                       placeholder="Gender" />
            </div>
            <div class="col-md-6" style="position:relative;top:25px;">
                <label for="ImageUrl" class="form-label">Image</label>
                <input type="file" name="ImageUrl">
            </div>

        </div>
        <button type="submit" class="btn btn-primary m-4">Create</button>
    </form>*@

